@import './libs/fonts';
@import './libs/vars';
@import './libs/funcs';
@import './libs/base';

.header {
	height: 120px;
	background-color: #FFF;
	text-align: center;

	.header__logo {
		position: relative;
		display: inline-block;
		margin-top: 20px;

		color: $salmon;
		font-family: 'Norwester';
		font-size: em(59px);
		font-weight: 400;
		letter-spacing: .3px;

		text-shadow: 0 2px 0 #EAEAEA;
	}

	.header__user {
		position: absolute;
		display: inline-block;
		top: 45px;
		margin-left: 240px;

		cursor: pointer;

		&:hover .user__logout {
			display: block;
		}

		.userName {
			margin: 0;
			color: $salmon;
			font-size: em(22px);

			&::after {
				content: '';
				position: absolute;
				display: inline-block;

				width: 14px;
				height: 7px;
				margin-top: 13px;
	    		margin-left: 7px;

				background: url('../assets/images/icon_triangle.png') no-repeat center center;
			}
		}
		
		.user__logout {
			position: absolute;
			display: none;

			background-color: #FFF;
			font-size: em(18px);

			&:hover {
				display: block;
			}

			.logout__link {
				color: $blue;
			}
		}
	}

}

.avatar {
	position: relative;
	display: block;
	
	width: 120px;
	height: 120px;
	margin: 45px auto 70px auto;

	border: 4px solid #FFF;
	border-radius: 50%;
	text-align: center;
	
	overflow: hidden;

	.avatar__pic {
		width: 100%;
		height: auto;
	}
}

.cards {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	.cards__container {
		background-color: #FFF;
		border-radius: 5px;
		box-shadow: 0 2px 10px rgba($black, .1);

		overflow: hidden;

		&.cards__streamData {
			width: 350px;
			height: 300px;

			.streamData__label {
				margin: 20px 10px 0 10px;
				color: $blue;
				font-size: em(12px);
				cursor: text;
			}

			.streamData__title {
				margin: 0 0 0 10px;
				color: $black;
				font-size: em(28px);

				&::after {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					margin-top: 5px;
					margin-left: 3px;

					background: url('../assets/images/icon_pencil.png') no-repeat center center;
					opacity: 0;
				}

				&:hover::after {
					opacity: 1;
				}
			}

			.streamData__input {
				@extend .streamData__title;
				width: 200px;
				margin: -1px 0 -2px 9px;

				border: none;
				border-bottom: 1px solid rgba($black, .2);

				outline: none;

				&.streamData__input--game {
					font-size: em(22px);

				}
			}

			.streamData__game {
				@extend .streamData__title;
				font-size: em(22px);
			}

			.streamData__separator {
				position: absolute;
				bottom: 0;
				width: 120px;
				height: 57px;

				border: 1px solid #E0E0E0;
				border-bottom: none;
				border-left: none;
				text-align: center;

				&.streamData__separator--followers {
					right: 120px;
					border-left: none;
				}

				&.streamData__separator--subscribers {
					right: 0;
					border-right: none;
				}

				.separator__number {
					margin: 7px 0 0 0;
					color: $black;
					font-size: em(18px);
				}

				.separator__label {
					margin: 0;
					color: #C0C0C0;
					font-size: em(12px);
				}
			}

			.streamData__gameList {
				position: absolute;
				z-index: 1;

				width: $dropdownWidth;
				max-height: 155px;
				margin: 2px 0 0 9px;
				padding: 0;

				background-color: #FFF;
				box-shadow: 0 10px 10px rgba($black, .1);

				overflow: scroll;

				.gameList__game {
					width: $dropdownWidth;
					height: 50px;
					padding: 0 5px;

					overflow: hidden;
					cursor: pointer;

					&:hover {
						background: rgba(#67439E, .2);
					}

					.game__image {
						width: auto;
						height: 40px;
						margin: 5px 5px 5px 0;
					}

					.game__name {
						font-size: em(14px);
					}
				}
			}
		}

		.container__gameBox {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;

			width: 230px;
			height: 100%;
			margin-left: -120px;

			background: #eaaa87;
			background: -moz-linear-gradient(left,  #eaaa87 0%, #ff8c8e 100%);
			background: -webkit-linear-gradient(left,  #eaaa87 0%,#ff8c8e 100%);
			background: linear-gradient(to right,  #eaaa87 0%,#ff8c8e 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaaa87', endColorstr='#ff8c8e',GradientType=1 );

			transition: .4s margin;
			-webkit-transition: .4s margin;

			&:hover {
				margin-left: 0px;
			}

			.gameBox__image {
				position: absolute;
				top: 25px;
				right: 25px;

				width: auto;
				height: 250px;

				box-shadow: 0 2px 10px rgba($black, .3);
			}

		}

		.container__streamData {
			margin-left: 110px;
		}
	}
}

.gameList {
	position: absolute;
	width: 200px;
	max-height: 250px;

	img {
		max-width: 64px;
		height: auto;
	}
}

.mainTitle {
	text-align: center;
}

.chat {
	@extend .cards__container;
	position: absolute;
	left: 0;

	border: 1px solid rgba(#DAD8DE, .8);
	border-radius: 4px;
}

.cards__followers {
	height: 300px;
	padding: 5px 20px;

	column-count: 2;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */

	column-gap: 10px;
	-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
	-moz-column-gap: 10px; /* Firefox */

	.followers__list {
		width: 170px;
		margin: 0;
		padding: 0;

		.list__follower {
			margin: 4px 0;

			font-size: em(18px);
			overflow: hidden;

			&:hover {
				background-color: #FFF;
				overflow: visible;
			}

			.follower__link {
				color: $blue;
			}
		}
	}
}

.footer {
	margin-top: 270px;
	margin-bottom: 30px;
	text-align: center;

	.footer__watermark {}
}